extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    table(border="1" style="font-size: 20px;")
      tr
        th fixtureId : 
          a(href=`/${fixture.fixtureId}`) #{fixture.fixtureId}
        td fixtureSort : #{fixture.fixtureSort}
      tr
        td(colspan="2") fixtureDate : #{fixture.formattedDate}
    p
  div
    table(border="2"  style="font-size: 20px;")
      tr
        th(colspan="2") ホーム
        td 
        th(colspan="2") アウェイ
      tr
        td #{fixture.homeTeam}
        td #{fixture.homeScore}
        td -
        td #{fixture.awayScore}
        td #{fixture.awayTeam}
    p
  div
    table(border="3" style="font-size: 20px;")
      tr
        td 
          a(href=`/${fixture.fixtureDate}/last`) 前の試合
        td
          a(href=`/${fixture.fixtureDate}/next`) 次の試合