extends layout

block content
  h1= title
  div.container
    div.row.border.justify-content-center.align-items-end
      div.col-6.col-sm-2.order-sm-1.border.mr-md-3
        a(href="/").nav-link.btn.btn-secondary 前の試合
      div.col-6.col-sm-2.order-sm-3.border.ml-md-3 
        a(href="/").nav-link.btn.btn-secondary 次の試合
      div.col-12.col-sm-7.order-sm-2
        div.row.border.justify-content-center
          div.col-10.border fixtureSort
          div.w-100
          div.col-10.border キックオフ
          div.w-100
          div.col-3.border ホーム
          div.col-5.border 1 - 2
          div.col-3.border アウェー
  p
  div
    table(border="1" style="font-size: 20px;")
      tr
        th fixtureId : 
          a(href=`/${fixture.fixtureId}`) #{fixture.fixtureId}
        td fixtureSort : #{fixture.fixtureSort}
      tr
        td(colspan="2") fixtureDate : #{fixture.formattedDate}
    p
  div
    table(border="2"  style="font-size: 20px;")
      tr
        th(colspan="2") ホーム
        td 
        th(colspan="2") アウェイ
      tr
        td #{fixture.homeTeam}
        td #{fixture.homeScore}
        td -
        td #{fixture.awayScore}
        td #{fixture.awayTeam}
    p
  div
    table(border="3" style="font-size: 20px;")
      tr
        td 
          a(href=`/${fixture.fixtureDate}/last`) 前の試合
        td
          a(href=`/${fixture.fixtureDate}/next`) 次の試合