extends layout

block content
  h1= title
  p こちらは #{title}です
  table
    each f in fixtures
      tr
        th #{f.formattedDate}
        td #{f.fixtureSort}
        td #{f.homeTeam}
        td #{f.homeScore}
        td #{f.awayScore}
        td #{f.awayTeam}